.root {
    -fx-accent: #003747;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    /*-fx-base: #000000;*/
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}


.label{
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
}

.table-view{
    /*-fx-background-color: derive(-fx-base, 10%);*/
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}

#tab1 {

}
#tabPane {
    -fx-background-color: #292929;

}

#sideBarLeft {
    -fx-background-color: #3C3C3C;
}

#hitLabel {

/*-fx-text-fill: red;*/
    -fx-text-fill: aqua;
    -fx-font-size: 40pt ;
-fx-text-alignment: center;

}

#forForm {
    -fx-background-color: #2a2b2a;
}

/*.default-color0.chart-pie { -fx-pie-color: #388087 }*/
/*.default-color1.chart-pie { -fx-pie-color: #6FB3B8 }*/
/*.default-color2.chart-pie { -fx-pie-color: #BADFE7; }*/
/*.default-color3.chart-pie { -fx-pie-color: #C2EDCE; }*/
/*.default-color4.chart-pie { -fx-pie-color: #f6f6f2; }*/

.data0.chart-pie { -fx-pie-color: turquoise; }
.data1.chart-pie { -fx-pie-color: aquamarine; }
.data2.chart-pie { -fx-pie-color: cornflowerblue; }
.data3.chart-pie { -fx-pie-color: cyan; }
.data4.chart-pie { -fx-pie-color: cadetblue; }
.data5.chart-pie { -fx-pie-color: navy; }
.data6.chart-pie { -fx-pie-color: deepskyblue; }
.data7.chart-pie { -fx-pie-color: dodgerblue; }
.data8.chart-pie { -fx-pie-color: steelblue; }
.data9.chart-pie { -fx-pie-color: teal; }
.data10.chart-pie { -fx-pie-color: royalblue; }


.chart-pie-label-line {
    -fx-stroke: aqua;
    -fx-fill: aqua;
}

.chart-pie-label {
    -fx-fill: cyan;
    -fx-font-size: 1em;
    -fx-text-fill: white;
}
.chart-legend {
    -fx-background-color:  #292929;
    -fx-stroke: aqua;
}

/*http://fxexperience.com/2011/12/styling-fx-buttons-with-css/*/

#classifyButton {
    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill:lightgray;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}



#classifyButton Text {
    -fx-effect: dropshadow( one-pass-box , cyan , 0, 0.0 , 0 , -1 );
}

#classifyButton:hover{
    -fx-text-fill: white;
    -fx-background-insets: 0,0,3,5,5;
}

#classifyButton:pressed{
    -fx-text-fill: cyan;
    -fx-background-insets: 0,4,6,8,10;
}

